<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.littletry.sharezone.dao.ContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.littletry.sharezone.model.Content">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="detail" property="detail" />
        <result column="create_time" property="createTime" />
        <result column="image_url" property="imageUrl" />
        <result column="video_url" property="videoUrl" />
        <result column="user_id" property="userId" />
        <result column="check_publish" property="checkPublish" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, detail, create_time, image_url, video_url, user_id, check_publish
    </sql>

</mapper>
